html,body
  background-color: #fff
  overflow-x: hidden
  margin: 0
  padding: 0
p::selection
  background-color: orange
  color: white
h3::selection
  background-color: white
  color: black
h4::selection
  background-color: orange
  color: white
h5::selection
  background-color: orange
  color: white
h1::selection
  background-color: orange
  color: white
button::selection
  background-color: orange
  color: white
#email::selection
  background-color: orange
  color: white
.titleBar
  width: 100%
  margin-bottom: 35px
  position: fixed
  z-index: 999


h1
  padding-top: 10px
  padding-left: 10px
  padding-right: 10px

#titleText
  color: white

#welcomeTag
  font-weight: 900
  font-size: 4.4em
  margin-bottom: 5px

#welcomeTag::selection
  background-color: white
  color: orange
#infoForm
  margin-left: 50%
.containerSeperation
  border-color: orange
  border-width: 3px
  border-style: solid
  width: 65px
  margin-top: 35px
  margin-bottom: 35px

#bigPicture
  height: 82vh
  overflow: hidden
  background-color: orange
  background-size: cover
  padding-top: 40vh
  padding-left: 15vw
  background-image: url("../img/heroShot.png")
  background-repeat: no-repeat
  background-attachment: fixed
  z-index: -999


.u-full-width
  margin: 0
.container
  text-align: left
.github
  margin-bottom: 2em
.left
  text-align: left
.center
  text-align: center
.right
  text-align: right

#sendBtn
  color: black
  font-family: raleway
  transition: all 0.4s
  border: solid 2px white
#sendBtn:hover
  background-color: #7F5200
  color: white
  transition: all 0.4s

a
  text-decoration: none
  font-family: raleway

button
  font-family: raleway
  transition: background-color 0.4s
button:hover
  background-color: orange
  color: white
  transition: background-color 0.4s
hr
  color: #990000

#graphicsBtn
  text-align: center
#codeBtn
  text-align: center
#resumeBtn
  text-align: center
#logo
  width: 100px
.icons
  width: 140px
.left-media
  text-align: center
.right-media
  text-align: center
@media (min-width: 550px)
  #graphicsBtn
    text-align: center
  #codeBtn
    text-align: right
  #resumeBtn
    text-align: left
  .left-media
    text-align: left
  .right-media
    text-align: right

#email
  color: black
  text-decoration: underline
  transition: color 0.4s
#email:hover
  color: orange
footer
  height: 70px
  width: 100%
  margin-top: 5%
  background-color: #333
  text-align: center
  color: white
  padding-top: 15px
  border-bottom: 3px solid orange
