html, body {
  background-color: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

p::-moz-selection {
  background-color: orange;
  color: white; }

p::selection {
  background-color: orange;
  color: white; }

h3::-moz-selection {
  background-color: white;
  color: black; }

h3::selection {
  background-color: white;
  color: black; }

h4::-moz-selection {
  background-color: orange;
  color: white; }

h4::selection {
  background-color: orange;
  color: white; }

h5::-moz-selection {
  background-color: orange;
  color: white; }

h5::selection {
  background-color: orange;
  color: white; }

h1::-moz-selection {
  background-color: orange;
  color: white; }

h1::selection {
  background-color: orange;
  color: white; }

button::-moz-selection {
  background-color: orange;
  color: white; }

button::selection {
  background-color: orange;
  color: white; }

#email::-moz-selection {
  background-color: orange;
  color: white; }

#email::selection {
  background-color: orange;
  color: white; }

.titleBar {
  width: 100%;
  margin-bottom: 35px;
  position: fixed;
  z-index: 999; }

h1 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }

#titleText {
  color: white; }

#welcomeTag {
  font-weight: 900;
  font-size: 4.4em;
  margin-bottom: 5px; }

#infoForm {
  margin-left: 50%; }

.containerSeperation {
  border-color: orange;
  border-width: 3px;
  border-style: solid;
  width: 65px;
  margin-top: 35px;
  margin-bottom: 35px; }

#bigPicture {
  height: 650px;
  overflow: hidden;
  background-color: orange;
  background-size: cover;
  padding-top: 40vh;
  padding-left: 15vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -999; }

.bubble {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #e69500;
  position: absolute;
  -webkit-animation-name: bubbleGeneral;
  animation-name: bubbleGeneral;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

#bubble1 {
  margin-top: 15%; }

@-webkit-keyframes bubbleGeneral {
  from {
    width: 80px;
    height: 80px; }
  to {
    width: 120px;
    height: 120px; } }

@keyframes bubbleGeneral {
  from {
    width: 80px;
    height: 80px; }
  to {
    width: 120px;
    height: 120px; } }

#biggestBubble {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: #ffaf1a;
  position: absolute;
  margin-left: 27%;
  margin-top: -18%;
  -webkit-animation-name: biggestBubble;
  animation-name: biggestBubble;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  z-index: 0; }

@-webkit-keyframes biggestBubble {
  from {
    width: 350px;
    height: 350px; }
  to {
    width: 460px;
    height: 460px; } }

@keyframes biggestBubble {
  from {
    width: 350px;
    height: 350px; }
  to {
    width: 460px;
    height: 460px; } }

#smallBubble {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffc14d;
  background-attachment: fixed;
  position: absolute;
  margin-left: 0;
  margin-top: -20%;
  -webkit-animation-name: smallBubble;
  animation-name: smallBubble;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes smallBubble {
  from {
    width: 60px;
    height: 60px; }
  to {
    width: 140px;
    height: 140px; } }

@keyframes smallBubble {
  from {
    width: 60px;
    height: 60px; }
  to {
    width: 140px;
    height: 140px; } }

#bigBubble {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #553100;
  background-attachment: fixed;
  margin-left: 60%;
  -webkit-animation-name: bubbleSize;
  animation-name: bubbleSize;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes bubbleSize {
  from {
    width: 120px;
    height: 120px; }
  to {
    width: 230px;
    height: 230px; } }

@keyframes bubbleSize {
  from {
    width: 120px;
    height: 120px; }
  to {
    width: 230px;
    height: 230px; } }

@media screen and (max-width: 800px) {
  #bubble1 {
    display: none; }
  #biggestBubble {
    display: none; }
  #bigBubble {
    display: none; }
  #smallBubble {
    display: none; } }

.u-full-width {
  margin: 0; }

.container {
  text-align: left; }

.github {
  margin-bottom: 2em; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

#sendBtn {
  color: black;
  font-family: raleway;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: solid 2px white; }

#sendBtn:hover {
  background-color: #7F5200;
  color: white;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

a {
  text-decoration: none;
  font-family: raleway; }

button {
  font-family: raleway;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s; }

button:hover {
  background-color: orange;
  color: white;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s; }

hr {
  color: #990000; }

#graphicsBtn {
  text-align: center; }

#codeBtn {
  text-align: center; }

#resumeBtn {
  text-align: center; }

#logo {
  width: 100px; }

.icons {
  width: 140px; }

.left-media {
  text-align: center; }

.right-media {
  text-align: center; }

@media (min-width: 550px) {
  #graphicsBtn {
    text-align: center; }
  #codeBtn {
    text-align: right; }
  #resumeBtn {
    text-align: left; }
  .left-media {
    text-align: left; }
  .right-media {
    text-align: right; } }

#email {
  color: black;
  text-decoration: underline;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s; }

#email:hover {
  color: orange; }

footer {
  height: 70px;
  width: 100%;
  margin-top: 5%;
  background-color: #333;
  text-align: center;
  color: white;
  padding-top: 15px;
  border-bottom: 3px solid orange; }
